* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: #011f4b;
    color: #b3cde0;
    position: fixed;
    top: 0;
    width: 100%;
}

.body-input {
    margin-top: 100px;
}